services:
  pyrrhos:
    build: .
    restart: unless-stopped
    env_file:
      - .env.production
    depends_on:
      - pot-provider
      - warp
    network_mode: "service:warp"

  pot-provider:
    image: brainicism/bgutil-ytdlp-pot-provider
    restart: unless-stopped
    depends_on:
      - warp
    network_mode: "service:warp"
  warp:
    image: caomingjun/warp
    container_name: warp
    restart: unless-stopped
    ports:
      - "1080:1080"
    environment:
      - WARP_SLEEP=2
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv4.conf.all.src_valid_mark=1
    volumes:
      - ./warp_data:/var/lib/cloudflare-warp
